body{
	font: 15px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 2;
	background-color: #003366;
}
/*Estilos globales*/
.contenedor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}
ul{
	margin: 0;
	padding: 0;
}

.boton1{
	height: 38px;
	background: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}

/*encabezado*/
header{
	background-color: #e6ac00;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #1293d4
	position:fixed;
}
header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}	
header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;

}
header #marca{
	float: left;
}

header #marca h1{
	margin:0;
}
header nav{
	float: right;
	margin-top: 10px;
}

header a:hover{
	color: #ccc;
	font-weight: bold;	
}
/*cabecera con imagen*/
#cabecera{
	min-height: 400px;
	background: url('../img/cebecera1.jpg') center;
	text-align: center;
	color: #fff;
}

#cabecera h1{
	margin-top: 250px;
	font-size: 50px;
	margin-bottom: 5px;

}

#boletin{
	padding: 15px;
	color: #fff
	background:24282b;
}

#boletin h1{
	float: left;
}
#boletin form{
	float: right;
	margin-top: 15px;

}

#boletin input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 200px;
}
/*cajas*/
#cajas{
	margin-top: 30px;
}
#cajas .caja{
	float: left;
	text-align: center;
	width: 30%;
	padding: 20px;

}
#cajas .caja img{
	width: 200px;
	height: 100px;
}
#cajas .caja h3{
	text-align: center;
	color: #F2FBEF;
	font-size: 25px;
}

#cajas .caja p{
	color: #F2FBEF;
	text-align: center;
	font-size: 10px; 
}
/*footer o pie de pagina*/
footer{
	padding: 20px;
	margin-top: 20px;
	color:#fff;
	background-color: #000000;
	text-align:center;
}


.menuCSS3 ul {
		display: flex;
		padding: 0;
		margin: 0;
		list-style:none;
}
.menuCSS3 a {
		display: inherit;
		padding: 1em;
		background-color: #e6ac00;
		text-decoration:none;
		color: #000;
}

.menuCSS3 a:hover {
	background-color: #CC673B;

}

.menuCSS3 ul li ul {
	display: none;
}

.menuCSS3 ul li a:hover + ul, .menuCSS3 ul li ul:hover {
	display: block;
}

#main p{
	color: #F2FBEF;
	font-size: 20;
}



/*autores*/
table td{
	padding: 3px 20px 3px 20px;
}
table thead{
	background-color: #DBA901;
}
table tbody{
	text-align: left;
}
table{
	font-family: verdana;
	font-size: 18px;
	color: #fff;
	margin-top: 30px;
}
table td img{
	width: 100px;
	height: 100px;
}

  .col-md-12 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
      margin-right: 30px;
  margin-left: 30px;

  }

  .col-md-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
            flex: 0 0 33.333333%;
    max-width: 32.333333%;
          margin-right: 4px;
  margin-left: 4px;

  }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-right: 25px;
  margin-left: 25px;

}

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}

@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
}